<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringPlaceholdersInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder/>

    <bean id="application" class="fr.nate.slackbot.Application">
        <constructor-arg name="slackClient" ref="slackClient"/>
        <constructor-arg name="describeSynodeHandler" ref="descrybeSynodeHandler"/>
        <constructor-arg name="sayHelloHandler" ref="sayHelloHandler"/>
        <constructor-arg name="environmentGetHandler" ref="environmentGetHandler"/>
        <constructor-arg name="environmentSetHandler" ref="environmentSetHandler"/>
    </bean>

    <bean id="environment" class="fr.nate.slackbot.environment.InMemoryEnvironment"/>

    <bean id="slackClient" class="fr.nate.slackbot.slack.SlackClient">
        <constructor-arg name="host" value="${SLACKBOT_HOST}"/>
        <constructor-arg name="port" value="${SLACKBOT_PORT}"/>
        <constructor-arg name="user" value="${SLACKBOT_USER}"/>
        <constructor-arg name="password" value="${SLACKBOT_PASSWORD}"/>
    </bean>

    <bean id="descrybeSynodeHandler" class="fr.nate.slackbot.actions.DescribeSynodeHandler">
        <constructor-arg name="environment" ref="environment"/>
    </bean>

    <bean id="environmentGetHandler" class="fr.nate.slackbot.actions.EnvironmentGetHandler">
        <constructor-arg name="environment" ref="environment"/>
    </bean>
    <bean id="environmentSetHandler" class="fr.nate.slackbot.actions.EnvironmentSetHandler">
        <constructor-arg name="environment" ref="environment"/>
    </bean>

    <bean id="sayHelloHandler" class="fr.nate.slackbot.actions.SayHelloHandler"/>
</beans>